body {
    margin: 0%;
    padding: 0%;
}

.heading {
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
    color: #94bbe9;
    font-family: cursive;
}

.heading h1 {
    font-size: 50px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    border: 1px solid black;
    width: 20%;
    border-radius: 10px;
    padding: 15px;
    background-color: black;
}

#userInput {
    width: 95%;
    height: 100px;
    text-align: right;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: 600;
    border-radius: 5px;
    background-color: black;
    border: none;
}

::placeholder {
    color: white;
}

.btn {
    width: 23.5%;
    margin-bottom: 2px;
    height: 50px;
    background-color: lightgrey;
    border-radius: 5px;
}

.btnEqual {
    width: 99%;
    height: 35px;
    text-align: center;
    margin-top: 5px;
    border-radius: 5px;
}

.background-orange {
    background-color: orange;
}


/* .btn:hover,
.btnEqual:hover {
    --c: goldenrod;
    color: var(--c);
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    text-transform: var(--c);
} */

@media screen and (max-width: 786px) {
    .btn {
        width: 23%;
    }
}